<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<img src="{{ album.album_logo }}" height="200" width="200">
<h1> {{ album.album_title }}</h1>
<h3>{{artist}}</h3>
{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'music:favorite' album.id %}" method="post">
  {% csrf_token %}
  {% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
    <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
      {% if song.is_favorite %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbQkIwrQCuap-mFfYN8ZW0BKDTzf2AfgduK-Ewt6jy3zbQ0h7GoQ" height="20">
       {% endif %}
    </label><br />
  {% endfor %}
<input type="submit" name="Favorite" value="Favorite">
</form>
</body>
</html>
