<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>
{% if all_album %}
<ul>
    {% for album in all_album %}
    <li>
      <!--  <a href="/music/{{album.id}}">{{album.album_title}}</a> -->
        <!--creating Dynamic link  (detail is taken fron name in urls) -->
        <a href="{% url 'music:detail' album.id  %}">{{album.album_title}}</a>

    </li>
    {% endfor %}
</ul>
  {% else %}
    <h1>The is no Albums</h1>
{% endif %}
</body>
</html>